* {
    margin: 0;
    padding: 0;
}

.overall {
    background-image: url(/image/bg4.jpg);
    background-repeat: no-repeat;
    background-size: 1400px;

    margin: 0%;
    padding: 0%;
}

/* .generaldiv {} */

.nav {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    height: 109px;
    position: sticky;
}

.lowgo {

    /* border: 2px solid blue; */
    width: 250px;
    height: 106px;
}

.naav {
    /* border: 2px solid red; */
    width: 17cm;
    height: 106px;
    margin-left: 200px;
}

ul {
    list-style-type: none;
    padding: 34px 20px;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    /* border: 1px solid black; */
    float: left;
    padding: 12px;
    width: 90px;
    font-size: 16px;
    color: rgba(202, 202, 202, 0.76);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

li a:hover {
    color: rgb(252, 252, 252);
}

.homecontent {
    /* border: 2px solid purple; */
    height: 600px;
    display: flex;
}

.partone {
    /* border: 2px solid green; */
    width: 50vw;
    height: 90.3vh;
}

.text {
    /* border: 2px solid pink; */
    padding: 1cm;
    margin-top: 1cm;
    /* height: ; */
}

.hairda {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.photo {
    /* border: 2px solid maroon; */
    padding: 1cm;

}

.changey {
    font-weight: 700px;
    font-size: 80px;
    color: grey;
    padding: 0%;
}

.paragraph {
    /* border: 2px solid magenta; */
    padding: 1cm;
}

.para {
    line-height: 20px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 18px;
    font-stretch: 100%;
    text-align: start;
    color: white;

}

.radius {
    /* border: 2px solid indianred; */
    padding: 1cm;
    display: flex;
    gap: 20px;
    height: 7.8vh;

}

.radius1 {
    background-color: #007e6a;
    border-radius: 32px;
    width: 130px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.radius2 {
    background-color: transparent;
    border-radius: 32px;
    border: 2px solid wheat;
    width: 170px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parttwo {
    /* border: 2px solid orange; */
    height: 90.5vh;
    width: 50vw;
    background-color: transparent;
}

.par {
    width: vw;
    height: 90vh;
    padding-left: 120px;
}


/* #page2 {} */

.secondpage {
    /* border: 2px solid blue; */
    display: flex;
}

.jaypeg {
    /* border: 2px solid green; */
    height: 100vh;
    width: 40vw;
    margin: 0px 0px 0px 22px;
    background-image: url(/image/bg6.jpg);
    background-size: 450px;
    margin-top: 2cm;
}

.biography {
    /* border: 2px solid crimson; */
    width: 70vw;
    height: 90vh;
    margin: 2cm;
}

.bio {
    color: #707070;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.lead {
    color: #404040;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 38px;
}

.txt {
    color: #707070;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin: 24px 0px;
}

.info {
    /* border: 2px solid darkred; */
    width: 40vw;
    height: 4vh;
    display: flex;
}

.nname {
    /* border: 2px solid rgb(43, 31, 2); */
    color: #404040;
    font-size: 19.2px;
    line-height: 28.8px;
    margin: 0px 10px 0px 0px;
    height: 4vh;
    width: 18.2vw;
    display: flex;
    gap: 10px;
    padding-left: 0cm;
    padding-right: 1cm;
}

.oruko {
    color: #404040;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.pee {
    color: #404040;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 1px;
    text-decoration: none;
}

.infor {
    /* border: 2px solid darkred; */
    width: 40vw;
    height: 4.5vh;
    display: flex;
}

.nnname {
    /* border: 2px solid fuchsia; */
    height: 4vh;
    width: 18.2vw;
    display: flex;
    gap: 25px;
}

.otisumi {
    /* border: 2px solid green; */
    color: #404040;
    font-size: 19.2px;
    line-height: 28.8px;
    margin: 0px 0px 0px 0px;
    display: flex;
    width: 270px;
    height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 4px;
}

.social {
    /* border: 2px solid rebeccapurple; */
    display: flex;
    height: 75px;
    /* flex-direction: row; */
    justify-content: space-between;


}

.fofo {
    /* border: 2px solid green; */
    height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    /* gap: 30px; */
    text-align: center;
}

.hi {
    /* border: 2px solid gray; */
    font-size: 20px;
    width: 200px;
    margin-right: 380px;
    height: 40px;
}

span {
    margin-right: 6px;

}

.rad2 {
    height: 70px;
    display: flex;

}

.hireme {
    background-color: #007e6a;
    width: 130px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 32px;
}

.r {
    background-color: #00be6c;
    border-radius: 32px;
    width: 170px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 500px;
    font-family: Verdana, Tahoma, sans-serif;
    margin-left: 10px;
}

.hrr {
    text-decoration: none;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .page3{} */

.pager3 {
    /* border: 2px solid fuchsia; */
    display: flex;
    height: 100vh;
    margin: 0px 74.5px;
    padding: 48px 15px;


}

.Success {
    text-align: center;
    /* border: 2px solid red ; */
    color: #404040;
    font-size: 38px;
    margin: 0px 0px 8px;
    line-height: 48px;
    margin-top: 62px;

}

.col1 {
    /* border: 2px solid fuchsia; */
    width: 33.3%;
    height: 90%;
    margin-right: 26px;
}

.g1 {
    /* border: 2px solid green; */
    /* background-color: cadetblue; */
    height: 40%;

}

.g2 {
    /* border: 2px solid green; */
    /* background-color: cadetblue; */
    height: 40%;
    margin-top: 32px;
}

.finale {
    border: 2px solid black;

}

.furta {
    /* border: 2px solid brown; */
    height: 230px;
    background-image: url(/image/futa1.jpg);

}

.furtad {
    /* border: 2px solid brown; */
    margin: 0;
    height: 280px;
    background-color: #061F24;
    background-image: url(/image/futa2.jpg);
    background-size: 1400px;
    background-repeat: no-repeat;
}

/* .fewta{
    border: 2px solid white;
    height: 190px;
    padding: 24px 15px;
    margin: 0px 74.5px;
}

.logo{
    border: 2px solid yellow;
    height: 69px;
    margin: 15px 300px 20px 350px;
    color: white;
    text-align: center;

}

.lowgow{
    border: 2px solid royalblue;
    height: 50px;
   
}

.spa{
    color: antiquewhite;
} */

.whatido {
    /* border: 2px solid yellow; */
    height: 460px;
}

.inudiv {
    /* border: 2px solid red; */
    height: 500px;
    margin: 0px 74.5px;
    padding: 48px 15px;
    margin-top: 60px;
}

.kini {
    /* border: 2px solid blue; */
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 0px;
    margin: 0px;
    padding: 0px;
    color: #404044;
}

.minisec {
    /* border: 2px solid fuchsia; */
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.webdev {
    /* border: 2px solid aqua; */
    width: 33%;
    height: 200px;
    font-family: sans-serif;

    /* padding: 40px; */
}

.appdev {
    /* border: 2px solid mediumslateblue; */
    width: 33%;
    height: 200px;
    font-family: sans-serif;

}

.phorograph {
    /* border: 2px solid seagreen ; */
    width: 33%;
    height: 200px;
    font-family: sans-serif;

}

.ejowewe {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 28px;
    font-weight: 400;
    color: #707070;
}

.olololo {
    line-height: 24px;
    font-size: 20px;
    font-weight: bold;
    color: #303030;

}

.olololo:hover {
    color: #007e6a;
}

.skeels {
    /* border: 2px solid orangered; */
    height: 680px;
}

.skeel {
    /* border: 2px solid blue; */
    height: 500px;
    margin: 0px 74.5px;
    padding: 48px 15px;
    margin-top: 60px;
}

.fskeel {
    /* border: 2px solid black; */
    display: flex;
    height: 500px;
    padding: 0%;
    margin: 0;

}

.addpic {
    /* border: 2px solid green; */
    height: 490px;
    width: 40%;
}

.about1 {
    width: 440px;
}

.featured {
    /* border: 2px solid purple;    */
    width: 60%;
    margin: 40px;
}

.heych {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #707070;
}

.heychtiri {
    font-size: 38px;
    font-family: sans-serif;
    line-height: 48px;
    color: #404044;
    text-align: left;
    font-weight: 600;
}

.tairxt {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin: 24px 0px 0px;
    color: #707070;
}

.ui {
    /* border: 2px solid maroon; */
    height: 40px;
}

.heychsix {
    color: #707070;
    font-size: 18px;
    line-height: 21.6px;
    margin: 0px 0px 10px;
    padding: 0px;
    font-family: sans-serif;
    font-weight: 500;
}

.liene {
    border: 2px solid #007e6a;
    background-color: #007e6a;
    width: 490px;
    height: 3px;
    margin-bottom: 7px;
    border-radius: 6px 0px 0px 6px;
}

.lienes {
    border: 2px solid #007e6a;
    background-color: #007e6a;
    width: 600px;
    height: 3px;
    margin-bottom: 7px;
    border-radius: 6px 0px 0px 6px;
}

.Ideas {
    /* border: 2px solid firebrick; */
    margin-top: 6px;
}

.lines {
    border: 2px solid #007e6a;
    background-color: #007e6a;
    width: 480px;
    height: 3px;
    margin-bottom: 7px;
    border-radius: 6px 0px 0px 6px;
}

.liens {
    border: 2px solid #007e6a;
    background-color: #007e6a;
    width: 300px;
    height: 3px;
    margin-bottom: 7px;
    border-radius: 6px 0px 0px 6px;
}

.fourth {
    /* border: 2px solid blue; */
    height: 700px;
    width: 98.4vw;
}

.gedd {
    /* border: 2px solid red; */
    height: 550px;
    margin: 0px 74.5px;
    padding: 48px 15px;
    margin-top: 40px;
    display: flex;
}

.grid {
    /* border: 2px solid green; */
    width: 55vw;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;

}

.grid-item {
    /* border: 1px solid black; */
    padding: 20px;
    font-size: 30px;
    padding: 20px;
    display: flex;
}

.hehe {
    color: #404044;
    font-size: 22px;
    line-height: 34px;
    font-family: sans-serif;
    margin-left: 20px;

}

.peeqchore {
    /* border: 2px solid yellow; */
    width: 40vw;
    height: 0vh;
    /* height: ; */
}

.weebe {
    font-size: 18px;
    line-height: 28px;
    font-family: sans-serif;
    color: #707070;
}

.parr {
    width: 400px;
    margin-left: 50px;
}

.smallpage {
    /* border: 2px solid brown; */
    height: 350px;
}

.innerpager {
    /* border: 2px solid black; */
    margin: 0px 74.5px;
    padding: 48px 15px;
    margin-top: 60px;
    height: 140px;
}

.mainpage {
    /* border: 2px solid rebeccapurple; */
    height: 170px;
    display: flex;
    
}

.difone {
    /* border: 2px solid green; */
    width: 25%;

}

.namba {
    font-size: 46px;
    font-family: sans-serif;
    font: 700;
    line-height: 28px;
    margin: 0px 0px 20px;
    padding: 0px;
    color: #404044;
    text-align: center;
    margin-top: 30px;
}

.tititi {
    color: #707070;
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    
}